
# HTID:13721218: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13721218:
<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^(?!api)([a-z]+)/?([a-z]+)?/?$ index.php?control=$1&view=$2 [NC,L]

    RewriteCond %{REQUEST_FILENAME} !index.php
    RewriteRule ^api\/([a-z]+)/?([0-9]+)?/?$ index.php?api=1&control=$1&id=$2 [NC,L]
</IfModule>