
# HTID:13721218: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:13721218:
<IfModule mod_rewrite.c>
    RewriteEngine On
    #RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} !index.php
    RewriteRule ^([a-z]+)/?$ view/$1.php [NC,L]
</IfModule>